* {
    box-sizing: border-box;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: gray;
}

.principal {
    display: flex;
    flex-flow: column;
}

.margen-interno {
    padding: 0 50px;
}

.header {
    height: 400px;
    background: url(./imagenes/header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: contain;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    animation: fadearriba 1s ease-in;
}

.menu {
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
}

.logo {
    background: rgba(255, 255, 255, 0);
    flex: 1 1 auto;
    animation: showup 1s ease-in;
}

.logo img:hover {
    opacity: 70%;
}

.nav {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    flex: 5 1 auto;
}

.nav a:hover {
    color: black;
}

.social {
    background: rgba(255, 255, 255, 0);
    flex: 1 1 auto;
}

.social a:hover {
    color: black;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.164);
    width: 70%;
    height: 100px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

.titulo h1 {
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    text-align: center;
}

.section {
    display: flex;
    margin: 0px;
}

.articulos {
    background-color: rgba(174, 174, 174, 0.868);
    display: flex;
    width: 100%;
    flex: 2 1 auto;
    flex-flow: row wrap;
    animation: arriba 4s ease-in;
}

.article {
    background-color: rgb(215, 215, 215);
    flex: 1 1 45%;
    overflow: hidden;
    padding: 10px;
}

.article img {
    width: 100%;
    margin: 0px;
}

.article h3 {
    color: white;
    font-size: 15px;
    padding: 10px 5px;
    margin-top: -50px;
}

.article p {
    column-count: 2;
    padding: 5px;
    margin: 10px 0 10px 0;
}

.article h2 {
    color: white;
    background-color: rgb(232, 128, 145);
    text-transform: uppercase;
    font-size: 25px;
    margin: 20px 0 5px 0;
    padding: 5px 5px;
}

.navegacion {
    flex: 1 1 100%;
    background-color: rgb(215, 215, 215);
}

.sidebar {
    background-color: rgba(174, 174, 174, 0.868);
    flex: 1 3 auto;
}

.side {
    text-align: center;
}

.side h3 {
    font-size: 30px;
}

.footer {
    background-color: rgba(69, 69, 69, 0.629);
    display: flex;
    justify-content: center;
}

.foot {
    background-color: rgb(206, 206, 206);
    width: 90%;
}

@keyframes showup {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadearriba {
    0% {
        opacity: 0;
        transform: translateX(-100);
    }
    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes arriba {
    0% {
        transform: translateY(-100);
    }
    100% {
        transform: translateY(0);
    }
}

@media all and (max-width: 1200px) {
    .article {
        flex: 1 1 50%;
    }
    .article p {
        column-count: 1;
    }
}

@media all and (max-width: 800px) {
    .titulo {
        font-size: 12px;
    }
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .article p {
        column-count: 1;
    }
}

@media all and (max-width:500px) {
    .titulo {
        font-size: 12px;
    }
    .sidebar {
        flex-direction: column;
    }
    .articulos {
        flex-direction: column;
    }
    .article p {
        column-count: 1;
    }
}