* {
    box-sizing: border-box;
    margin: 10px;
}

a {
    text-decoration: none;
    color: gray;
}

.principal {
    display: flex;
    flex-flow: column;
}

.margen-interno {
    padding: 0 50px;
}

.header {
    height: 400px;
    background: url(./imagenes/header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: contain;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.menu {
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
}

.logo {
    background: rgba(255, 255, 255, 0);
    flex: 1 1 auto;
}

.nav {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    flex: 5 1 auto;
}

.nav a:hover {
    color: black;
}

.social {
    background: rgba(255, 255, 255, 0);
    flex: 1 1 auto;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.164);
    width: 70%;
    height: 100px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

.titulo h1 {
    color: orange;
}

.section {
    display: flex;
    margin: 0;
}

.articulos {
    background-color: rgba(69, 69, 69, 0.629);
    display: flex;
    flex: 2 1 auto;
    flex-flow: row wrap;
}

.article {
    flex: 1 1 40%;
    background-color: rgb(215, 215, 215);
    flex: 1 1 45%;
    padding: 0px;
    overflow: hidden;
}

.article img {
    width: 100%;
    object-fit: cover;
}

.article h3 {
    color: white;
    font-size: 13px;
    padding: 10px 0;
    margin-top: -50px;
}

h2 {
    color: white;
    background-color: rgb(232, 128, 145);
    text-transform: uppercase;
    font-size: 25px;
    padding: 0px 0 10px 0;
}

.navegacion {
    flex: 1 1 100%;
    background-color: rgb(215, 215, 215);
}

.sidebar {
    background-color: rgba(69, 69, 69, 0.629);
    flex: 1 1 auto;
}

.side {
    background-color: rgb(206, 206, 206);
}